ORACLE_PASSWORD=Gitt2026*
ORACLE_APP_USER=GITT_INV
ORACLE_APP_PASSWORD=Gitt2026*
ORACLE_CONNECTION=User Id=GITT_INV;Password=Gitt2026*;Data Source=oracle-db:1521/FREEPDB1
JWT_KEY=GITT_INVENTARIO_FISEI_SECRET_KEY_DEVELOPMENT_2026
FRONTEND_URL=http://localhost:5173
